.smallbutton button {
    width: 80px;
    height: 26px;
    font-size: smaller;
    margin:  0px 6px;
    padding: 0px;
}

.Abc {
    text-transform: capitalize;
}
  
.ABC {
    text-transform: uppercase;
}

.abc {
    text-transform: lowercase;
}

#modversion {
    font-size:xx-small;
    position:fixed;
    z-index: 1000;
    bottom: 2px;
    right: 2px;
    color:#897489;
}